@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h4>Add a new Author</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.AuthorName)
    @Html.TextBoxFor(model => model.AuthorName)
    

    @Html.Label("Select Author")
    @Html.DropDownList("AuthorId")

    <input type="submit" value="Add a new author" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Authors", "Index", null, null, new { @class = "btn btn-success btn-sm"})</p>