@{
  Layout = "_Layout";
}

@model Library.Models.Genre;

<h2>Genre Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.GenreName): @Html.DisplayFor(model => model.GenreName)</h3>

@if(@Model.Books.Count == 0)
{
  <p>There are no books for this Genre</p>
}
else
{
  <h4>Book in this Genre:</h4>
  <ul>
  @foreach(var join in Model.Books)
  {
    <li>@join.Book.BookName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Genres", "Index", null, null, new { @class = "btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Edit Genre", "Edit", new { id = Model.GenreId }, new { @class = "btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Delete Genre", "Delete", new { id = Model.GenreId }, new { @class = "btn btn-success btn-sm"})</p>
